/* ///////////  NO TOCAR ////////*/
/* Posición para Contendio GENERAL */
#page-container {
  position: relative;
  min-height: 100vh;
}

/* Posición Contenido pagina */
#content-wrap {
  padding-bottom: 2.5rem;    /* altura de pie de página */
}

/* Clase para barra de navegación */
.navbar {
    background-color: #E4007F;
    width: 100%;
    height: 100%;
    font-family: "Corben", serif;
    font-weight: 700;
    font-size: large;
    font-style: normal;
}

/* Clase para pie de página */
.footer-basic {
    background-color: #F1A20B;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 2rem; /* altura de pie de página */
    padding: 1%;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


 /* Clase para el logo */ 
 .logo-image {
    max-height: 1 rem;
    height: auto; 
    max-width: 5rem;
  }

/* Estilo para distribuir el menú en toda la página. */
.navbar-nav {
    width: 100%;
    justify-content: space-around;
}

/* Clase de fuente titulos */
.corben-regular {
  font-family: "Corben", serif;
  font-weight: 400;
  font-style: normal;
}

.corben-bold {
  font-family: "Corben", serif;
  font-weight: 700;
  font-style: normal;
}

/* Clase de fuente texto */
.mulish {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.mulish {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* ///////////  NO TOCAR ////////*/
