body{
    background-color: black;
}
/*Diseño para el título */
.nav-container{
    color: white;
    font-family: Corben;
    font-size: 40px;
}
.banner{
    color: white;
    font-family: Croben;
}
/* Diseño para el producto y su descripción */
#content-wrap{
    color:white;
    font-family: Mulish;
    font-size: 20px;
}