/* Estilos particulares de Acerca de Nosotros */
.container-s {
  background: #08807B;
  background-repeat: no-repeat;
  background-size: cover;
  margin:1rem auto;
  text-align: center;
  padding: 2rem;
  color: white;
}
.container-s h1{
  font-family: "Corben", serif;
  font-size: 3rem;
}
/*Texto Acerca de nosotros*/

.etiqueta-frase{
  display: block;
  display: none;
}

.container-texto-dinamitas{

}
.container-texto-dinamitas h1 {
  color: white;
  text-align: center;
  font-family: "Mulish";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2.3rem;
}
.container-texto-dinamitas p{
  color: white;
  height: 20%;
  font-family: "Corben", serif;
  font-size: 1.5rem;
  margin: 0.8rem 2.4rem; /* Ajustes de margen */
  width: calc(100% - 4.8rem); /* Ajuste para centrar y alinear */
  padding: 2rem;
  text-align: center;
  border-radius: 1rem;
}
.container-tarjetas-nosotros{
  margin: 2rem 4rem;
}

/*Estilo para el arreglo de tarjetas*/
#arregloTarjetas {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2rem 4rem 10rem 4rem;
  border-radius: 1rem;
  padding: 2rem 1rem 2rem 1rem;
}

.card-nosotros {
  background: #08807B;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 10px;
  margin-left: 40px;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  width: 300px;
  padding: 1rem auto;
}

.card-nosotros:hover {
  background: #E4007F;
}

.d-flex{
  margin-left: 10px;
  margin-bottom: 40px;
}

.btn{
  margin-right: 10px;
}

.avatar{
  margin: 1rem;
  padding: 1rem;
}

.ms-4 {
  margin-left: 20px;
}


