/* Estilos particulares de Acerca de Nosotros */
.container-s {
  margin-left: 0px;
  margin-right: 0px;
}

/*Texto Acerca de nosotros*/
.ph1 {
  text-align: center;
  color: white;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin: 20px;
  margin-left: 20px;
  margin-right: 20px;

}

.etiqueta-frase{
  display: block;
  display: none;
}

/* Para tipo de letra y color de parrafo*/
.dinamita-j-q {
  color: white;
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  padding: 27px;
  margin: 30px;
}

/*Título de la página contenedor*/
.h1an {
  text-align: center;
  font-family: "Corben", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 35px;
  color: white;
  justify-content: center;

}

/* para el color y tipo de letra de sub titulo*/
.h1sub {
  font-family: "Corben", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  background-color: black;
  color: white;
  margin-top: 60px;
  margin-bottom: 50px;

}

/*Contenedor titulo1*/
.containerA {
  text-align: center;
  justify-content: center;
  background-color: #08807B;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 50px;
}

/*Estilo para el arreglo de tarjetas*/
#arregloTarjetas {
  text-align: center;
  display: flex;
  justify-content: center;
  background: black;
  margin: 100px;
  margin-left: 50px;
  margin-right: 50px;
}

.card {
  background: #08807B;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 10px;
  margin-left: 40px;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  width: 300px;
}

.card:hover {
  background: #E4007F;
}

.d-flex{
  margin-left: 10px;
  margin-bottom: 40px;
}

.btn{
  margin-right: 10px;
}

.avatar{
  padding-top: 10px;
}

.ms-4 {
  margin-left: 20px;
}


