/* Estilos particulares de Productos*/

/*Diseño para el título */
/* .nav-container{
    color: white;
    font-family: "Corben", serif;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
} */
.banner{
    color: white;
    background-color: #08807B;
    font-family: "Corben", serif;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
    text-align: center;
    
}
#content-wrap{
    color:white;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
}
/* Diseño para el producto y su descripción */
#shopContent{
    color: white;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;    
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual ancho */
    gap: 10px;
    justify-content: center;
    margin: 100px;

}
@media (max-width: 992px) {
    #shopContent {
        grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas medianas */
    }
}

@media (max-width: 768px) {
    #shopContent {
        grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
    }
}

#modal-container{
color: white;
font-family: "Mulish", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
justify-content: center;
text-align: center;
margin: 100px;
/* background-color: #08807B; */ 
}

/* Preguntar sonbre límites */
.modal-content{
    margin: 50px;
    background-color: #F85931;

}

.descripcion{
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 10px;
}

.card{
background-color: #8d9c09;
text-align: center;
padding: 10px;
}
.card:hover{
    background-color: #f67ce69a;
}

.comprar{
    background-color: #08807B;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    position:absolute;
    /* Alinea el botón 10px desde el borde inferior */
    bottom: 10px;
   /* Centra horizontalmente el botón */
    left:50%;
    /* Ajusta la posición para centrarlo exactamente */
    transform: translateX(-50%); /* Ajusta la posición para centrarlo exactamente */
}


