/* Estilos particulares de Productos*/
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
body{
     background-color: black;

   /* Estilos para los elementos de la lista */
}
   .filter-ver-mas {
    background-color: #08807b; /* Color de fondo de las palabras */
    margin: 2px 0;
    padding: 2px;
    border-radius: 3px; /* Bordes redondeados opcionales */
   }

.h1aN{
=======
=======
>>>>>>> Development
=======
>>>>>>> Development

/*Diseño para el título */
/* .nav-container{
    color: white;
    font-family: "Corben", serif;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
} */
.banner{
    color: white;
    font-family: "Corben", serif;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> Development
=======
>>>>>>> Development
=======
>>>>>>> Development
    text-align: center;
    
}
#content-wrap{
    color:white;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
}
/* Diseño para el producto y su descripción */
#shopContent{
    color: white;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;    
    display: flex;
    justify-content: center;
    margin: 100px;
}

#modal-container{
color: white;
font-family: "Mulish", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
justify-content: center;
text-align: center;
margin: 100px;
/* background-color: #08807B; */ 
}

/* Preguntar sonbre límites */
.modal-content{
    margin: 50px;
    background-color: #F85931;

}

.descripcion{
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.card{
background-color: #8d9c09;
text-align: center;
}

.comprar{
    background-color: #08807B;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}


