.banner {
    background-image: url(/public/img/pppp.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 7rem;
    font-family: "Corben", serif;
    margin: 0.8rem 2.4rem; /* Ajustes de margen */
    width: calc(100% - 4.8rem); /* Ajuste para centrar y alinear */
    padding: 2rem;
    text-align: center;
    color: white;
    border-radius: 1rem;
}

/* Contenedor de filtros */
.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar contenido verticalmente */
    align-items: center; /* Centrar contenido horizontalmente */
}

.filtros {
    background-color: #08807B;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan si no caben en una línea */
    justify-content: center;
    gap: 20px; /* Espacio entre elementos */
    padding: 0.8rem 1rem 0.8rem 1rem; /* Ajustes de padding */
    width: 100%; /* Ancho máximo */
    max-width: 95%; /* Ajuste de ancho máximo */
    font-family: "Corben", serif;
}

.categoryitem{
    background-color: #109995;
    border-radius: 1rem;
    display: inline-block; /* Para que los elementos se muestren en línea */
    padding: 1rem 3rem 1rem 3rem; /* Ajusta el padding para hacer los botones más grandes */
    margin: 2%1; /* Ajuste de margen */
    text-align: center;
    color: white;
    font-family: Mulish;
    font-size: 1.6rem; /* Ajusta el tamaño de la fuente */
    white-space: nowrap; /* Evita que el texto se envuelva */
    max-width: 100%; /* Evita que los botones se salgan del contenedor */
    overflow: hidden; /* Oculta el contenido que sobresale */
    text-overflow: ellipsis; /* Añade puntos suspensivos (...) si el texto es demasiado largo */
}

#shopContent {
    background-color: #08807B;
    color: white;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de tamaño igual */
    gap: 20px; /* Espacio entre tarjetas */
    justify-items: center; /* Centrar elementos horizontalmente en el grid */
    padding: 20px; /* Espaciado interno */
    width: 100%; /* Ancho completo del contenedor padre */
    max-width: 1450px; /* Ancho máximo para evitar que se expanda demasiado */
    margin: 1rem auto 6rem; /* Margen superior e inferior de 1rem, centrado horizontalmente */
    border-radius: 1rem;
}

.card {
    background-color: #8d9c09;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    max-width: 100%; /* Ancho máximo de la tarjeta */
}

@media (max-width: 992px) {
    #shopContent {
        grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas medianas */
    }
}

@media (max-width: 768px) {
    #shopContent {
        grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
    }
}


.card:hover {
    background-color: #b0bd3b;
}
.imagenProduct{
padding: 1rem 1rem 1rem 1rem;
width: 100%;
}
.detalleBoton{
    background-color: #08807B;
    border-radius: 2rem;
    border: none;
    color: white;
    width: 25rem;
    padding: 0.3rem 1rem 0.4rem 1rem;
    margin: 0.2rem 1rem 1rem 1rem;
}