/* Estilos particulares de Inicio */
body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}
#title {
    background-color: #000;
    color:#fff;
    text-align: center;
    font-weight: bold;
    font-family: "Corben regular";
    font-size: 700 px;
    text-align: center;
}

#welcome{
    background-color: #08807b;
    border-radius: 30px ;
    color: #fff;
    padding: 20px 40px;
    text-align: left;
    font-family: "Corben regular";
}
#intro{
    text-align:right;
    font-family: mulish;
    font-weight: regular;
    margin: -5%;
}
.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    width: 80%;
    background-color: #ff5a36;
    padding: 1rem;
    border-radius: 10px;
}

.carousel__track-container {
    overflow: hidden;
    width: 100%;
}

.carousel__track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel__slide {
    min-width: 33.33%;
    box-sizing: border-box;
}

.carousel__image {
    width: 100%;
    border-radius: 10px;
}

.carousel__button {
    background: none;
    border: none;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
}

.carousel__button--left {
    position: absolute;
    left: 10px;
}

.carousel__button--right {
    position: absolute;
    right: 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .carousel__slide {
        min-width: 100%;
    }
}