/* Estilos particulares de La Barra de Navegación */
.navbar {
    background-color: #E4007F;
    width: 100%;
    height: 100%;
    font-family: "Corben", serif;
    font-weight: 700;
    font-size: 1.5rem;
    font-style: normal;
}

/* Clase para el logo */
.logo-image {
    max-height: 1 rem;
    height: auto;
    max-width: 7rem;
    border-radius: 1.3rem;
}

/* Estilo para distribuir el menú en toda la página. */
.navbar-nav {
    width: 100%;
    justify-content: space-around;
}

.dropdown-menu {
    background-color:  rgb(207, 88, 153);;
}

/* Estilos de barra de busqueda */
.form-control { /* Ingreso de texto */
    background-color: rgba(238, 163, 204, 0.5);
    border-color: rgb(56, 55, 55);
    font-family: "Corben", serif;
    font-weight: 700;
    font-size: large;
    font-style: normal;
    width: 110px;
    height:auto;
    
  }
  
  .btn {
    border-color: rgb(56, 55, 55);
    color: rgba(var(--bs-emphasis-color-rgb), 1);
    width: 50px;
    height:auto;
  }
