/* Estilos particulares de La Barra de Navegación */
.navbar {
    background-color: #E4007F;
    width: 100%;
    height: 100%;
    font-family: "Corben", serif;
    font-weight: 700;
    font-size: 1.5rem;
    font-style: normal;
}

/* Clase para el logo */
.logo-image {
    max-height: 1 rem;
    height: auto;
    max-width: 7rem;
    border-radius: 1.3rem;
}

/* Estilo para distribuir el menú en toda la página. */
.navbar-nav {
    width: 100%;
    justify-content: space-around;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
/* Asegura que los enlaces dentro de los nav-item tengan el mismo tamaño */
.nav-link {
    display: flex;
    align-items: center; /* Centra el contenido verticalmente */
    justify-content: center; /* Centra el contenido horizontalmente */
    height: 100%;
    padding: 0 15px; /* Ajusta el espaciado interno según sea necesario */
    color: rgba(0, 0, 0, 0.873); /* Ajusta el color del texto si es necesario */
    text-align: center;
}

.dropdown-menu {
    background-color:  rgb(207, 88, 153);;
}

/* Estilos de barra de busqueda */
.form-control { /* Ingreso de texto */
    background-color: rgba(238, 163, 204, 0.5);
    border-color: rgb(56, 55, 55);
    font-family: "Corben", serif;
    font-weight: 700;
    font-size: large;
    font-style: normal;
    width: 110px;
    height:auto;
     
    } 
.btn {
    border-color: rgb(56, 55, 55);
    color: rgba(var(--bs-emphasis-color-rgb), 1);
    width: 50px;
    height:100%;
    align-items: center; /* Alinea verticalmente el ícono */
    justify-content: center; /* Centra horizontalmente el ícono */
    }
    .input-groupNav {
        display: flex; /* Establece el contenedor como un contenedor Flexbox */
        align-items: center; /* Alinea los elementos verticalmente en el centro */
    }     
/*Estilos para saber en qué página nos encontramos */
    .navbar-nav .nav-link {
        text-decoration: none; 
    }     
    .navbar-nav .nav-link.active {
        font-weight: bold; /* Resalta el texto */
        border-bottom: 2px solid #000000; 
    }
    .swal2-title{
        background-color: #088078;
        color: white;
        text-shadow: 0.1rem 0.1rem 0.3rem black;
    }
    .swal2-popup{
    background-color: #088078;
    }
    #swal2-html-container{
    color: white;
    text-shadow: 0.1rem 0.1rem 0.1rem black;
    }
    .swal2-confirm{
        background-color: #E4007F;
        color: white;
        text-shadow: 0.1rem 0.1rem 0.1rem black;
    }
    .swal2-confirm:hover{
        background-color: #8D9C09;
    }