/* Estilos generales para el contenedor del formulario */
.container {
    margin-bottom: 10rem;
    padding-bottom: 10rem;
}

/* Estilos para el formulario */
form {
    padding: 4rem;
    border-radius: 3rem;
    text-align: center;
    background-image: url(/public/img/forproducto.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    max-width: 90rem;
}

/* Estilos para el grupo de formulario */
.form-group {
    margin-bottom: 0.2rem;
    display: flex;
    flex-direction: column;
    text-align: left;
}

/* Estilos para los campos de entrada */
.fform-control {
    padding: 1.3rem 1rem; /* Espaciado interior */
    border-radius: 1.6rem;
    margin-bottom: 1.6rem;
    background-color: hsla(178, 76%, 74%, 0.5); /* Color con opacidad */
    border: none; /* Sin borde */
    outline: none; /* Sin contorno */
    font-family: "Mulish", sans-serif;
    height: auto; /* Ajusta la altura automáticamente */
}

/* Estilos para los placeholders dentro de inputs y textareas */
input::placeholder, textarea::placeholder {
    color: #000; /* Color negro */
    opacity: 1; /* Asegura que el color del texto del placeholder sea completamente visible */
    font-style: italic; /* Opcional: Estilo en cursiva */
    font-size: 1.1rem; /* Tamaño de fuente ajustable */
}

/* Estilos para las etiquetas */
label {
    color: white;
    text-shadow: 0.2rem 0.2rem 0.1rem #000;
    font-family: "Mulish", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 5px;
}

/* Estilos para el botón de crear */
.BotonCrear {
    font-size: 2rem;
    border-radius: 10px;
    padding: 25px;
    cursor: pointer;
    color: white;
    text-shadow: 0.1rem 0.1rem 0.1rem #000;
    background-color: #055e58;
    font-family: "Mulish", sans-serif;
    border: none;
}

.BotonCrear:hover {
    background-color: #20d6ca;
    width: auto;
}

/* Estilos para el título h1 */
h1 {
    margin-top: 30px;
    background-color: #08807B;
    padding: 2rem;
    font-family: "Corben", serif;
    font-weight: 700;
    font-size: 3.4rem;
    text-align: center;
    color: white;
    text-indent: 10px;
    text-shadow: 0.4rem 0.26rem 0.2rem #000;
}

/* Estilos para los mensajes de retroalimentación */
.invalid-feedback {
    font-size: 25px;
    font-weight: bold;
    font-family: "Corben", serif;
    color: #F1A20B;
    text-shadow: 0.2rem 0.2rem 0.1rem #000;
}

/* Estilos para elementos con etiqueta fuerte */
strong {
    font-weight: bold;
    font-family: "Corben", serif;
    font-size: 25px;
}

/* Estilos para las alertas (si es necesario) */
.alert-success {
    background-color: black;
}
