.container-detalles-producto {
    background-color: #8D9C09;
    margin: 0 auto; /* Esto centrará el contenedor horizontalmente */
    max-width: 1300px; /* Ajusta el ancho máximo según tu diseño */
    padding: 30px; /* Añade espacio interno al contenedor */
    border-radius: 3rem;
}

.carousel-item img {
    display: block;
    margin: 0 auto; /* Centra las imágenes dentro del carousel */
    max-width: 100%;
    height: auto;
}

.form-group {
    width: 100%; /* Ancho completo para las casillas de selección */
    max-width: 300px; /* Ajusta el ancho máximo según tu diseño */
    margin-bottom: 10px; /* Espacio inferior entre elementos */
}

#talla,
#cantidad {
    background-color: #a8b912;
    border: none;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.container-acordeon-detalles {
    max-width: 600px; /* Ajusta el ancho máximo del acordeón */
    margin: 0 auto; /* Centra el acordeón */
}

.accordion-item-detalles {
    background-color: #a8b912;
    border-radius: 2rem;
}

.accordion-button-detalles {
    background-color: #08807B;
    width: 100%;
    font-family: "Corben", serif;
    font-weight: 400;
    text-align: left;
    border: none;
    color: white;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 1rem;
}

button:hover {
    background-color: #E4007F;
}
.btn-sug{
    background-color: #08807B;
    height: 30px;
    width: 80px;
    border-radius: 3px;
    text-align: center;
    color: white;
}

#agregarCarrito {
    width: 100%;
    max-width: 300px; /* Ajusta el ancho máximo del botón */
    background-color: #08807B;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px; /* Espacio superior */
}

#agregarCarrito svg {
    margin-right: 5px; /* Espacio entre el icono y el texto del botón */
}
.container-sugerencias{
    background-color: #08807B;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 10px;
    font-family: "Corben", serif;
    font-weight: 40;
    text-align: center;
    border: none;
    color: white;
    height: 100px;
    border-radius: 2rem;
}
.container-productos-sugeridos{
    background-color: #8D9C09;
    margin: 0 auto; /* Esto centrará el contenedor horizontalmente */
    max-width: 1300px; /* Ajusta el ancho máximo según tu diseño */
    padding: 40px; /* Añade espacio interno al contenedor */
    align-content: center;
    display: flex;
    border-radius: 3rem;
    margin-bottom: 3rem;
}
.card-body {
    width: 280px;
    height: 230px;
    background-color: #a8b912;
    display: flex;  /* Hace que el card-body sea un contenedor flexible */
    flex-direction: column;  /* Asegura que el contenido se alinee verticalmente */
    justify-content: center; /* Centra verticalmente el contenido */
    align-items: center;     /* Centra horizontalmente el contenido */
    border-radius: 1rem;
}

.card-title,
.card-text {
    text-align: center; /* Centra el texto dentro de la tarjeta */
}
.titulo-pagina2{
    text-align: center;
}
.card {

    margin-right: 10px; /* Ajusta el margen en todos los lados de cada tarjeta */
    padding: 3px;
    border-radius: 1rem;
    background-color: #E4007F;
}
.card:hover{
box-shadow: 10px;
transform: translate(3%);
}
.card-img-top{
    border-radius: 1rem;
    width: 280px;
}
.h3{
    text-align: center;
}

